In [2]:
import pandas as pd
import glob
import shutil

In [3]:
import shutil
#import csv files from folder
path = r'/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources'
allFiles = glob.glob(path + "/*.csv")
with open('/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Output/output_test.csv', 'wb') as outfile:
    for i, fname in enumerate(allFiles):
        with open(fname, 'rb') as infile:
            if i != 0:
                infile.readline()  # Throw away header on all but first file
            # Block copy rest of file from input to output without parsing
            shutil.copyfileobj(infile, outfile)
            print(fname + " has been imported.")

/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201709-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201809-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201701-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201801-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201803-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201703-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201705-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201805-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201807-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201811-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201711-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201707-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201708-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201808-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201802-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201702-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201704-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201712-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201812-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201804-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201810-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201806-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201706-citibike-tripdata.csv has been imported.
/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Resources/201710-citibike-tripdata.csv has been imported.

In [4]:
df = pd.read_csv('/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Output/output_test.csv')
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2017-09-01 00:00:17,2017-09-01 00:06:19,3331.0,Riverside Dr & W 104 St,40.801343,-73.971146,3328.0,W 100 St & Manhattan Ave,40.795000,-73.964500,14530,Subscriber,1993.0,1
1,188,2017-09-01 00:00:21,2017-09-01 00:03:30,3101.0,N 12 St & Bedford Ave,40.720798,-73.954847,3100.0,Nassau Ave & Newell St,40.724813,-73.947526,15475,Subscriber,1988.0,1
2,305,2017-09-01 00:00:25,2017-09-01 00:05:30,3140.0,1 Ave & E 78 St,40.771404,-73.953517,3141.0,1 Ave & E 68 St,40.765005,-73.958185,30346,Subscriber,1969.0,1
3,223,2017-09-01 00:00:52,2017-09-01 00:04:36,236.0,St Marks Pl & 2 Ave,40.728419,-73.987140,473.0,Rivington St & Chrystie St,40.721101,-73.991925,28056,Subscriber,1993.0,1
4,758,2017-09-01 00:01:01,2017-09-01 00:13:40,3427.0,Lafayette St & Jersey St,40.724305,-73.996010,3431.0,E 35 St & 3 Ave,40.746524,-73.977885,25413,Subscriber,1987.0,1

In [5]:
df.count()

tripduration               33912996
starttime                  33912996
stoptime                   33912996
start station id           33910499
start station name         33910499
start station latitude     33912996
start station longitude    33912996
end station id             33910499
end station name           33910499
end station latitude       33912996
end station longitude      33912996
bikeid                     33912996
usertype                   33897087
birth year                 32282661
gender                     33912996
dtype: int64

In [6]:
df_no_missing = df.dropna()

In [7]:
df_no_missing.count()

tripduration               32264280
starttime                  32264280
stoptime                   32264280
start station id           32264280
start station name         32264280
start station latitude     32264280
start station longitude    32264280
end station id             32264280
end station name           32264280
end station latitude       32264280
end station longitude      32264280
bikeid                     32264280
usertype                   32264280
birth year                 32264280
gender                     32264280
dtype: int64

In [10]:
df_no_missing.to_csv('/Users/shekhar/Desktop/Bootcamp/Revision/Homework/Tableau/Output_Daily_Ridership/output_daily_no_missing_test.csv',index=False,header=True)

In [11]:
print("Hello")

Hello